@using System.Net
@using Hexalith.Application.Modules
@using Microsoft.AspNetCore.Http.Extensions

@inject NavigationManager NavigationManager
@inject ModuleManager ModuleManager
@inject IRouteManager RouteManager

@if (_initialized)
{
	<!DOCTYPE html>
	<html lang="en">

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<base href="/" />
		<link rel="stylesheet" href="app.css" />
		<link rel="stylesheet" href="HexalithApp.Server.styles.css" />
		<link rel="icon" type="image/x-icon" href="favicon.ico" />
		<HeadOutlet />
	</head>

	<body>
		<Routes />
		<script src="_framework/blazor.web.js"></script>
		<script src="_framework/aspnetcore-browser-refresh.js"></script>
	</body>

	</html>
}
@code
{
		//  CascadingParameter is required to access HttpContext
		[CascadingParameter]
		HttpContext? Context { get; set; }
	private bool _initialized;

	protected override void OnInitialized()
	{
		if (Context != null)
		{
			var url = new Uri(WebUtility.UrlDecode(Context.Request.GetEncodedUrl()));
			HandleRedirect(url);
		}
		_initialized = true;
	}
	private void HandleRedirect(Uri url)
	{
		if (string.IsNullOrWhiteSpace(url.AbsolutePath) || url.AbsolutePath.Equals("/",StringComparison.OrdinalIgnoreCase))
		{
			NavigationManager.NavigateTo(ModuleManager.HomeRoute);
		}
		// Get the mapped route for the current path
		var alias = RouteManager.MapPath(url.AbsolutePath);
		// get first default alias
		if (!alias.Equals(url.AbsolutePath, StringComparison.OrdinalIgnoreCase))
		{
			// redirect to default alias
			NavigationManager.NavigateTo(alias);
		}
	}
}